body {
    background-color: #233d4d;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 16px;
    color: #fe7f2d;
  }

.chart {
    width: 400px !important;
    height: 200px !important;
}

.formula {
    font-style: italic;
    color: #cccccc;
}